.search {
	max-width: 350px;
	width: 100%;
	margin: 2.5em auto 2em;
	display: grid;
	grid-template-columns: 1fr 0.25fr;
}

.search__input {
	border: none;
	font-family: cursive;
	background-color: #fff;
	border-radius: 8px 0 0 8px;
	padding: 0.5em 0.75em;
	font-size: 1.1rem;
	outline: none;
}

.search__input:hover,
.search__btn:hover {
	box-shadow: 0 0 35px 0 #40bc30ea;
}

.search__btn {
	border: none;
	background-color: #9acd32;
	border-radius: 0 8px 8px 0;
	padding: 0.5em 0.75em;
	font-size: 1.1rem;
	outline: none;
}

.mesage__error {
	/* background-color: #ff000020; */
	text-align: center;
	color: var(--text);
	margin-bottom: 2em;
	font-size: 26px;
}
